body
  background: url(../images/concrete_wall.png) repeat

.container .shell
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  margin-left: auto
  margin-right: auto
  max-width: 700px
  margin-top: 10%

.container .shell .shell-line
  display: inline-block

.container .shell .shell-line::after
  content: " "
  display: inline-block
  width: 8px
  height: 16px
  background-color: rgb(201,206,208)
  border: 1px solid rgb(201,206,208)
  margin-left: 2px
  margin-bottom: -3px

.container .shell-header
  height: 30px
  background-color: rgb(241,241,240)
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  position: relative

.container .shell-header .circle
  position: absolute
  width: 15px
  height: 15px
  border-radius: 50%
  border-width: 2px
  border-style: solid
  top: 7px

.container .shell-header .circle.circle-red
  left: 10px
  background-color: rgb(252,87,83)
  border-color: rgb(223,74,71)

.container .shell-header .circle.circle-yellow
  left: 30px
  background-color: rgb(253,188,64)
  border-color: rgb(223,162,59)

.container .shell-header .circle.circle-green
  left: 50px
  background-color: rgb(51,199,72)
  border-color: rgb(40,170,54)

.container .shell-container
  background-color: rgb(33,33,33)
  color: rgb(201,206,208)
  max-height: 400px
  overflow-y: scroll
  padding: 5px 5px

.container .shell-container h2,
.container .shell-container ul
  margin-left: 15px

.container .shell-container h2
  margin-bottom: 5px
